@import './styles/controls.less';

*,
:before,
:after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body,
main {
  height: 100%;
  font-size: 22px;
}

main {
  max-width: 415px;
  padding: 5px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
